@page
@model Hotel19760575.Pages.Bookings.StatisticsModel
@{
    ViewData["Title"] = "CalcSubscriptionStats";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Statistics</h1>

<br/>

<h2>Customer distribution with respect to postcodes</h2>
<table class="table">
        <tr>
            <th>
                Postcode
            </th>
            <th>
                Number of Customers
            </th>
        </tr>
        @foreach (var item in Model.CustomerStatistic)
        {  <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfCustomers)
                </td>
            </tr>
        }
</table>

<br/>

<h2>Booking distribution with respect to rooms</h2>
<table class="table">
        <tr>
            <th>
                Room ID
            </th>
            <th>
                Number of Bookings
            </th>
        </tr>
        <tr>
            @foreach (var item in Model.BookingStatistic)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfBookings)
                </td>
            </tr>
        }
</table>