@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="3000">

    <!--Indicators-->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ul>

    <!--Slideshow-->
    <div class="carousel-inner">
        <!--hotel outside-->
        <div class="carousel-item active">
            <img src="~/images/hotelOutside.png" alt="Outside view" />
            <div class="carousel-caption">
                <h3>Explore amazing views</h3>
            </div>
        </div>
        <!--Hotel room-->
        <div class="carousel-item">
            <img src="~/images/hotelRoom.png" alt="Hotel room" />
            <div class="carousel-caption">
                <h3>Relax and enjoy the quiet</h3>
            </div>
        </div>
        <!--Hotel Bar-->
        <div class="carousel-item">
            <img src="~/images/hotelBar.png" alt="Hotel Bar" />
            <div class="carousel-caption">
                <h3>Meet people at the bar</h3>
            </div>
        </div>
        <!--Hotel pool-->
        <div class="carousel-item">
            <img src="~/images/hotelPool.png" alt="Pool view" />
            <div class="carousel-caption">
                <h3>Pool side views</h3>
            </div>
        </div>
    </div>
    <!--left and right controls-->
    <a class="carousel-control-prev" href="#Carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>

    <a class="carousel-control-next" href="#Carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <h3>Welcome to the Goma Hotel</h3>
        <p>
            The historic Goma Hotel is located in the Blue Mountains area, an easy 1.5 hours drive from Newcastle.
            Established in 1891, the hotel in steeped in history. Grab a drink at the bar, dine in our bistro or enjoy a stay with us,
        </p>
        <p>
            With something on every night, our pub is a hive of activity. Become a member to enjoy even more benefits!
        </p>
    </div>
    <div class="col-md-6">
        <h3>Useful links and resources:</h3>
        <ul>
            <li>
                <a href="http://www.bom.gov.au/nsw/forecasts/coffsharbour.shtml">Weather information</a>
            </li>
            <li>
                <a href="https://www.clarence.nsw.gov.au/Home">Local city council</a>
            </li>
            <li>
                <a href="https://www.visitbluemountains.com.au/">Blue mountains tourism guide</a>
            </li>
        </ul>
    </div>
</div>
